$baseColor: #fff;
$subColor: #7FEB58;
$fontColor: #333333;
$fontColor2: #7FEB58;
$fontColor3: #666666;

$baseFontFamily: "HelveticaNeue", "Helvetica", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
